img{
    width: 100px;
    height: 100px
}

.trainingDiscontinued{
    color: grey;
}

.half-row{
    width: 50%;
    margin:auto;
    padding: 10px;
    display: block;
}

.detail-image{
    float: right
}