img{
    width: 100px;
    height: 100px
}

.trainingDiscontinued{
    color: grey;
}

.half-row{
    width: 50%;
    margin:auto;
    padding: 10px;
    display: block;
}

.detail-image{
    float: left;
    padding:10px;
}

.training-description{
    padding: 10px;
    font-size: 16px;
}

.mat-form-field{
    font-size: 18px;
}