

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field>
    <input 
    matInput
    type="text"
    placeholder="Training name"
    [formControl]="form.controls['name']">
    <mat-error *ngIf="form.controls['name'].dirty && form.controls['name'].hasError('required')">
      Please enter a name
    </mat-error>
  </mat-form-field>
  <!-- <mat-form-field>
    <label>Date:
      <input matInput type="date" formControlName="nextRun">
    </label>
  </mat-form-field> -->

  <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date"
      matInput type="date" formControlName="nextRun">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
     -->
    <mat-form-field>
        <input matInput [matDatepicker]="picker" DataFormatString = "{dd/MM/yyy}" formControlName="nextRun" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

  <mat-checkbox matInput type="checkbox" formControlName="discontinued">Discontinued
      <mat-error *ngIf="form.controls['discontinued'].value && form.errors?.isFutureDate">
          Can not set Date to future if discontinued is active
      </mat-error>
  </mat-checkbox>
  <br>

  <mat-form-field>
      <textarea 
      matInput 
      placeholder="Description" 
      matTextareaAutosize 
      matAutosizeMinRows="1"
      matAutosizeMaxRows="5"
      type="text" 
      formControlName="description">
    </textarea>
      <mat-error *ngIf="form.controls['description'].hasError('minlength')">
          Min length is 10 characters
        </mat-error>
  </mat-form-field>
    

  <button type="submit" [disabled]="form.valid">Save</button>
  <a [routerLink]="['..']">Back ...</a>

  <!-- <button type="button" (click)="goBack()">Cancel</button> -->
</form>
<!-- </mat-card> -->