<!-- <mat-card 
id="{{training.id}}">
      <mat-card-title>
        {{training.name}} 
      </mat-card-title>

      <img mat-card-image 
      *ngIf="training.imageUrl" 
      [src]=training.imageUrl
      alt="training image">

      <mat-card-subtitle>
    {{training.description}}
  </mat-card-subtitle> -->
  <mat-form-field 
  class="example-full-width">
    <input class="training-name-input"
    [(ngModel)]="training.name" 
    [disabled]="training?.discontinued"
    placeholder="change training name"
    matInput>
  </mat-form-field>

  <img mat-card-image 
  class="detail-image"
  *ngIf="training.imageUrl" 
  [src]=training.imageUrl
  alt="training image">

  <div class="training-description">
      {{training.description}}
      </div>
  <div>
    Next Training: 
    {{training.nextRun | date:'short'}}
  </div>
  <div
  *ngIf="training.nextRun | takePlaceSoon"
  >
  TAKES PLACE SOON
  </div>
<!-- </mat-card> -->