<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    tcc Manager App
  </h1>
</div>

<div>The number of trainings is {{trainings.length}}</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
 

<app-training-list 
[trainings]="trainings"
(trainingSelected)="setSelectedTraining($event)"
></app-training-list>

<app-training-details 
*ngIf="selectedTraining"
[training]="selectedTraining"
></app-training-details>

<button mat-button>TEST</button>