.training-discontinued {
    background:rgb(246, 246, 246);
    cursor:default;
}

.training-active{

}

.mat-expansion-panel-header{
    font-size: 18px;
}

.training-continued{
    cursor: pointer;
}

.half-row{
    width: 50%;
    margin:auto;
    padding: 10px;
    display: block;
}

.soon{
    background: rgb(255, 242, 237);   
   }

.panel-description{
    margin:auto;
}

.mat-expansion-panel-content{
    padding: 10px;
}