.training-discontinued {
    color:grey;
    cursor:default;
}

.training-active{
    color: royalblue;
}

.training-continued{
    cursor: pointer;
}

.half-row{
    width: 50%;
    margin:auto;
    padding: 10px;
    display: block;

}
